@import url("https://fonts.googleapis.com/css2?family=Modak&family=Oi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.headband {
  width: 100%;
  background: black;
  color: white;
  overflow: hidden;
  padding: 10px 0;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  font-size: 35px;
  color: darkgrey;
  animation: scroll-left 70s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
