@import "../index.scss";

$color-title:#FFFFD9;
$color-line-1:#FF6138;
$color-line-2:#FFB400;
$color-line-3:#00A388;
$color-line-4:#005AB3;
$color-line-5:#8100FF;

.rays {
    @include longshadow($primary, $color-bg, 120);
    
}