@import "../index.scss";


.works-animation {
  animation: fadeInUp;
  animation-duration: 1s;
}

.work-type-item {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(98, 98, 98);
  transition: 500ms;
}

.work-type-item[aria-selected=true] {
  color: white;
  text-decoration-line: underline;
  text-decoration-color: $primary;
}

.work-type-item:hover {
  color: white;
}

.work-item {
  border: solid 1px transparent;
  // border-radius: 20px;
  padding: 50px 10px;
  border: solid 1px rgb(220, 220, 220);
  transition: 500ms;
  background: transparent;
  animation: fadeIn;
  animation-duration: 2s;
  overflow: hidden;
}


.work-item p {
  transition: 500ms;
}

.work-item:hover p {
  /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
  /* 
  text-shadow: 0px 15px 5px rgba(172, 172, 172, 0.1), 10px 20px 5px rgba(172, 172, 172, 0.05),
    -10px 15px 5px rgba(172, 172, 172, 0.05); */
    @include longshadow($primary, $color-bg, 120);
    transform: scale(1.2);
 
}

.work-item:hover {

 
  /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
}

