@import "../index.scss";

.app-bar {
  /* background: rgb(26, 26, 26); */
  /* background: linear-gradient(180deg, transparent 0%, rgba(189, 189, 189, 0) 72%); */
  z-index: 1000;
  width: 100vw;
}


.menu-item {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  position: relative;
  cursor: pointer;
  mix-blend-mode: difference;
  padding: 8px;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  text-decoration-line: none;

}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.112);
}

.menu-item::before {
  // content: "";
  // background-color: $primary;
  // position: absolute;
  // left: 0;
  // bottom: 0px;
  // width: 100%;
  // height: 10px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

// .menu-item:hover::before {
//   bottom: 0;
//   height: 100%;
// }

.selected::before {
  content: "";
  bottom: 0;
  height: 2px;
  background-color: $primary;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: 0s;
}
