.video-card {
  transition: 500ms;
  border-radius: 15px;
}

.video-card:hover {
  filter: brightness(1.2);
  background-color: rgb(68, 68, 68);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

dialog[open] {
  animation: fadeInUp 300ms forwards;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
