@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

$color-bg:rgb(26, 26, 26);
$primary: #00A388;;

html {
  scroll-behavior: smooth;
}








body:has(dialog[open]) {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: white
}

a:hover {
  color: rgb(121, 237, 204)
}

/* CSS */
button {
  background: transparent;
  border: 0;
  border-radius: 12px;
  border: solid 2px white;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:hover {
 background: rgba(255, 255, 255, 0.236);
}

h1 {
  font-size: min(3.2em, 10vw);
  line-height: 1.1;
}

p {
  margin-block: 0;
}

.icon-button {
  border-radius: 50%;
  background-color: transparent;
  padding: 1em;
  transition: 500ms;
}

.icon-button:hover {
  background-color: rgba(240, 240, 240, 0.438);
}
@function shadow-string($color1, $color2, $length){
  $total-length: $length;
  $string: $color1 0px 0px;
  @while $length > 0 {
    $mix-amount: 100 - (($length / $total-length) * 100);
    $mixed-color: mix($color1,$color2, $mix-amount);
    $string-addition: $length+px $length+px;
    $string: $mixed-color $string-addition, $string;
    $length: $length - 1;  
  }
  @return $string
}



@mixin longshadow($color1, $color2, $length) {  
  text-shadow: shadow-string($color1, $color2, $length);    
}