@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scrollbar-width: thin;
  font-family: "Fjalla One", sans-serif;
  color: rgb(43, 43, 43);
  --shadow-color: #ff9e9e;
  --shadow-color-light: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Roboto Slab", serif;
}

p {
  margin-block: 0;
}
